<!-- based on http://jasonwatmore.com/post/2015/03/10/AngularJS-User-Registration-and-Login-Example.aspx -->
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="col-md-10 col-md-offset-0">
    <h2>Sign Up</h2>
    <div>Fields marked with * are required.</div>
    <form class="form-horizontal" id="form_signup" name="form_signup" ng-submit="form_signup.$valid&&submit_signup()">
        <div class="form-group">
            <label class="control-label col-sm-3" for="firstname0">* First Name:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="firstname0" ng-model="_user.first_name" required placeholder="Enter first name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="lastname0">* Last Name:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="lastname0" ng-model="_user.last_name" required placeholder="Enter last name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="username0">* Username:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="username0" name="username0" ng-model="_user.username" required placeholder="Username (Use your DISA SID if possible, letters and numbers only)" ng-pattern="_valid_pattern_username">
                <span style="color:Red" ng-show="form_signup.username0.$dirty&&form_signup.username0.$error.pattern">Letters and numbers only</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="password0">* Password:</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="password0" ng-model="_user.password0" required placeholder="Must be at least 14 chars and contain at least: 2 lower case characters, 2 upper case, 2 digits, and 2 special characters">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="password1">* Password Confirm:</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="password1" ng-model="_user.password1" required placeholder="Enter password again">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="organization0">* Organization:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="organization0" ng-model="_user.organization" required placeholder="Enter organization">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="subject_dn0">Certificate:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="subject_dn0" ng-model="_user.subject_dn" placeholder="Certificate">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="email">* Repos:</label>
            <div class="col-sm-9">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 {{class}}" id="response_message0" ng-show="response_message">{{response_message}}</div>
        </div>
    </form>
</div>
