[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
ssl-ca=/opt/mist/database/certificates/si_ca.crt
ssl-cert=/opt/mist/database/certificates/mist-interface.crt
ssl-key=/opt/mist/database/certificates/mist-interface.key
log-error=/var/log/mysql/mysql_error.log
general_log_file = /var/log/mysql/mysql.log
general_log = 1
slow_query_log = /var/log/mysql/mysql-slow.log
long_query_time = 2
log-queries-not-using-indexes

[mysqld_safe]
log-error=/var/log/mysql/mysql_error.log
pid-file=/var/run/mysqld/mysqld.pid


