<div><br /></div>
<div><br /></div>
<div class="col-md-12 col-md-offset-0">
    <table class="table table-hover table-bordered">
        <thead>
            <th>User</th>
            <th>Repos</th>
        </thead>
        <tr ng-repeat="user in users">
            <td>
                <span ng-init="has_repos = 0"></span>
                <span ng-click="delete_user(user.id)" class="checkbox-inline">[X]</span>
                <span ng-click="user_admin_toggle(user.id,user.permission,user.has_repos)" class="checkbox-inline" ng-init="value = (user.permission >= 2 ? 'A' : 'U')" ng-switch="value">
                    [{{value}} {{user.permission}}]
                </span>
                {{user.first_name}} {{user.last_name}} ({{user.username}})</td>
            <td>
                <div ng-repeat="repo in user.repos">
                    <span ng-click="repo_assign(user.id,repo.repo_data,user.permission,user.has_repos)" class="{{repo.class}}">{{repo.server_name}} {{repo.repo_name}}<br/></span>
                </div>
            </td>
        </tr>
    </table>
</div>
