<div><br /></div>
<div><br /></div>
<div class="col-md-12 col-md-offset-0">
    <table class="table table-hover table-bordered">
        <thead>
            <th>User</th>
            <th>Repos</th>
        </thead>
        <tr ng-repeat="user in users">
            <td>{{user.first_name}} {{user.last_name}} ({{user.username}} / {{user.permission}})</td>
            <td>
                <span ng-repeat="repo in user.repos">
                    <span class="{{repo.class}}" ng-click="hello_world()">{{repo.server_name}} {{repo.repo_name}}<br/></span>
                </span>
            </td>
        </tr>
    </table>
</div>
