<form>
    <select ng-model="assign_chunk_size" title="Chunk Size (KB)" size="5">
        <option value="2000">2000</option>
        <option value="10000">10000</option>
        <option value="25000">25000</option>
        <option value="100000">100000</option>
        <option value="250000">250000</option>
    </select>
    <select ng-model="assign_log_rollover" title="Logs Roll-Over Period (Days)" size="5">
        <option value="7">7</option>
        <option value="14">14</option>
        <option value="30">30</option>
        <option value="60">60</option>
        <option value="90">90</option>
    </select>
    <select ng-model="assign_pub_rollover" title="Publications Roll-Over Period (Days)" size="5">
        <option value="7">7</option>
        <option value="14">14</option>
        <option value="30">30</option>
        <option value="60">60</option>
        <option value="90">90</option>
    </select>
    <select ng-model="assign_assets_refresh" title="Assets Refresh Period (Hours)" size="7">
        <option value="24">24</option>
        <option value="48">48</option>
        <option value="72">72</option>
        <option value="168">168 (1 week)</option>
        <option value="336">336 (2 weeks)</option>
        <option value="504">504 (3 weeks)</option>
        <option value="672">672 (4 weeks)</option>
    </select>
    <!--<input type="text" size="4" ng-model="_mist_params.chunkSize"> Chunk Size (KB)<br />-->
    <!--<input type="text" size="4" ng-model="_mist_params.logsRollOverPeriod"> Logs Roll-Over Period (Days)<br />-->
    <!--<input type="text" size="4" ng-model="_mist_params.pubsRollOverPeriod"> Publications Roll-Over Period (Days)<br />-->
    <!--<input type="text" size="4" ng-model="_mist_params.scPullFreq"> Assets Refresh Period (Hours)<br />-->
</form>
