<form ng-submit="submit_sc_insert()">
    <div class="row" style="padding-top: 10px; padding-bottom: 10px; background-color: #E4F5FF;">
        <div class="col-md-2">
            <input type="text" class="form-control" name="serverName" ng-model="form_data.serverName" size="25" placeholder="Server Name" title="Server Name">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" name="fqdn_IP" ng-model="form_data.fqdn_IP" size="25" placeholder="FQDN or IP" title="FQDN or IP">
        </div>
        <div class="col-md-1">
            <input type="radio" ng-model="form_data.version" name="version" value="4" title="Select for version 4."> 4
            <input type="radio" ng-model="form_data.version" name="version" value="5" title="Select for version 5."> 5
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" name="username" ng-model="form_data.username" size="10" placeholder="Username" title="Username">
            <input type="text" class="form-control" name="pw" ng-model="form_data.pw" size="10" placeholder="Password" title="Password">
        </div>
        <div class="col-md-3">
            <input type="file" class="form-control" name="certificateFile" ng-model="form_data.certificateFile" ngf-select placeholder="Certificate File" title="Certificate File">
            <input type="file" class="form-control" name="keyFile" ng-model="form_data.keyFile" ngf-select placeholder="Key File" title="Key File">
        </div>
        <div class="col-md-1">
            <input type="submit" name="submit_insert" value="Insert" class="btn btn-default"> <input type="reset" class="btn btn-default">
        </div>
    </div>
    <div class="{{form_data.status_class}}" style="padding-top: 10px; padding-bottom: 10px;">
        {{form_data.status}}
    </div>
</form>

<span ng-repeat="sc in sc_list">
    <form enctype='multipart/form-data'>
        <div class="row row-hover" style="padding-top: 10px; padding-bottom: 10px;">
            <div class="col-md-2">
                <input type="text" class="form-control" name="serverName" ng-model="sc.serverName" size="25" placeholder="Update servername." title="Update servername.">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" name="fqdn_IP" ng-model="sc.fqdn_IP" size="25" placeholder="Update FQDN/IP." title="Update FQDN/IP.">
            </div>
            <div class="col-md-1">
                <input type="radio" ng-model="sc.version" name="version" value="4" title="Select for version 4."> 4
                <input type="radio" ng-model="sc.version" name="version" value="5" title="Select for version 5."> 5
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="username" ng-model="sc.username" size="10" placeholder="Update username." title="Update username.">
                <input type="text" class="form-control" name="pw" ng-model="sc.pw" size="10" placeholder="Update value for update." title="Update value for update.">
            </div>
            <div class="col-md-3">
                <input type="file" class="form-control" name="certificateFile" ng-model="sc.certificateFile" ngf-select placeholder="Update certificate file." title="Update certificate file.">
                <input type="file" class="form-control" name="keyFile" ng-model="sc.keyFile" ngf-select placeholder="Update key file." title="Update key file.">
            </div>
            <div class="col-md-1">
                <button class="btn btn-default" ng-click="submit_sc_update($index)">Update</button>
                <button class="btn btn-default" ng-click="delete_sc(sc.id)">Delete</button>
            </div>
        </div>
        <div class="{{sc.status_class}}" style="padding-top: 10px; padding-bottom: 10px;">
            {{sc.status}}
        </div>
    </form>
</span>
