<!-- based on http://jasonwatmore.com/post/2015/03/10/AngularJS-User-Registration-and-Login-Example.aspx -->
<div class="col-md-6 col-md-offset-3">
    <h2>Sign Up</h2>
    <form id="form_signup" ng-submit="submit_signup()">
        <table>
            <tr>
                <td>First Name</td><td><input type="text" name="firstname" id="firstname0" ng-model="_user.firstname" /></td>
            </tr>
            <tr>
                <td>Last Name</td><td><input type="text" name="lastname" id="lastname0" ng-model="_user.lastname" /></td>
            </tr>
            <tr>
                <td>SID</td><td><input type="text" name="sid" id="sid0" ng-model="_user.sid" /></td>
            </tr>
            <tr>
                <td>Password</td><td><input type="password" name="password" id="password0" ng-model="_user.password0" /></td>
            </tr>
            <tr>
                <td>Password Confirm</td><td><input type="password" name="password" id="password1" ng-model="_user.password1" /></td>
            </tr>
            <tr>
                <td>Organization</td><td><input type="text" name="org" id="org0" ng-model="_user.org" /></td>
            </tr>
            <tr>
                <td>Email</td><td><input type="text" name="password" id="email0" ng-model="_user.email" /></td>
            </tr>
            <tr>
                <td>Repos</td>
                <td><div ui-view="_repos"></div></td>
            </tr>
            <tr>
                <td><input type="submit" /></td><td><input type="reset" /></td>
            </tr>
        </table>
    </form>
</div>
