<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>MIST :: Home</title>

    <!-- bootstrap css -->
    <link href="static/css/bootstrap.css" rel="stylesheet" />

    <!-- application css -->
    <link href="static/css/app_content/app.css" rel="stylesheet" />

    <!-- angular scripts -->
    <script src="static/js/lib/angular.min.js"></script>
    <script src="static/js/lib/angular-messages.min.js"></script>
    <script src="static/js/lib/angular-ui-router.min.js"></script>
    <script src="static/js/lib/ngStorage.min.js"></script>

    <script src="static/js/lib/angular-animate.min.js"></script>
    <script src="static/js/lib/angular-touch.min.js"></script>
    <script src="static/js/lib/ui-bootstrap-tpls.min.js"></script>
    <script src="static/js/lib/angular-jwt.js"></script>
    <script src="static/js/lib/satellizer.js"></script>
    <script src="static/js/lib/ng-file-input.js"></script>
    <script src="static/js/lib/ng-file-upload.js"></script>

    <!-- main app script -->
    <script src="static/js/app.js"></script>

    <!-- services -->
    <script src="static/js/app_services/authentication.service.js"></script>
    <script src="static/js/app_services/mistuser.service.js"></script>
    <script src="static/js/app_services/repos.service.js"></script>
    <script src="static/js/app_services/securitycenters.service.js"></script>

    <!-- application scripts -->
    <script src="static/js/controllers/home.controller.js"></script>
    <script src="static/js/controllers/login.controller.js"></script>
    <script src="static/js/controllers/nav.controller.js"></script>
    <script src="static/js/controllers/admin.controller.js"></script>
    <script src="static/js/controllers/mistusers.controller.js"></script>
    <script src="static/js/controllers/publish.controller.js"></script>
    <script src="static/js/controllers/profile.controller.js"></script>
    <script src="static/js/controllers/signup.controller.js"></script>
    <script src="static/js/controllers/repostag.controller.js"></script>
    <script src="static/js/controllers/assetstag.controller.js"></script>
    <script src="static/js/controllers/locallogs.controller.js"></script>
    <script src="static/js/controllers/tagactivities.controller.js"></script>
    <script src="static/js/controllers/config.controller.js"></script>
</head>
<body ng-controller="MistController">

    <!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="row bg-green text-white">
            <div class="col-md-12">
                Status
            </div>
        </div>
        <div class="container-fluid" style="height: 80px; font-size: 20px;">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="/static/img/mist-PNG_small_dark.png"></a>
            </div>
            <div ui-view="_nav"></div>
        </div>
    </nav>

    <!-- main app container -->
    <div class="jumbotron">
        <div class="container-fluid">
            <div ui-view="_main"></div>
        </div>
    </div>

    <!-- credits -->
    <div class="text-center">
        <p>
            MIST v2.0 (/app/templates/index.html)
        </p>
    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="row bg-green text-white">
            <div class="col-md-12 ">
                Status
            </div>
        </div>
    </nav>
</body>
</html>
